
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}
@keyframes morph{
0%{
border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
}
50%
{
  border-radius: 30% 60% 70% 40%/ 50% 60% 30% 60%;
}

100%
{
  border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
}}

.App {
  text-align: center;

  background-color: rgb(214, 242, 227);

}

.footer{
  
  width: 100%;
  background-color: rgb(147, 198, 171);
  height: 30rem;
  position:relative;
  bottom:5rem;
}
.bottomfooter{
  width: 100%;
  height: 40%;
  background-color: rgb(102, 108, 105);
  position:relative;
  top:10rem;
  font-size: 2rem;
}
.subfooter
{
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top:5rem;
}
.contact
{
  font-size: 3.5rem;
}
.hit{
  font-size: 4rem;
}



.contentcont{
  display:flex;
  
}
.content{
  font-family: 'Roboto', sans-serif;
  width:40%;
  position:relative;
  left:50%;
  
 
}

.about{
 width: 100%;
 background-color: rgb(192, 242, 215);

}
.aboutimg{
  position:relative;
  bottom:10rem;
  right: 20rem;
  width: 30rem;
  height: 20rem;
  border-radius: 10%;
 border-bottom: 30rem;
 
}
h1{
  color:rgb(44, 144, 237);


}

.mano{
 width:5rem;
 height: 5rem;
  position:relative;
  left: 5rem;
  bottom:8rem;
  }

.title{
  font-size: 3rem;
    width: 80rem;
    height:10rem;
  font-family: 'Roboto', sans-serif;
  position:relative;
  right:20rem;
  top: 10rem;

}
.hello{
  position:relative;
  right:20rem;
  top: 5rem;
  font-size: 1.2rem;
  
}
.socialicons{
  position:relative;
  left:5rem;
  top: 2rem;
  width: 15rem;
  font-size: 3rem;
}

.protitle{
  font-family: 'Roboto', sans-serif;
}




.foto{
  -webkit-animation: morph 8s ease in out infinite;
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  width: 20rem;
  background-size:cover;
  background-position: 50%;
  background-repeat:no-repeat;
  border:2px solid black;
  position:relative;
  
 bottom: 8rem;
 left:20rem;
 
}
.stack{
position: relative; 
right:10rem;
bottom:10rem;
}


.skills{
  display:inline-block;
  height: 5rem;
  border-radius:50%;
  background-color: rgb(131, 185, 141);
  width: 5rem;
}
.imgskill{
  font-size: 1rem; 
  width: 4.5rem;
  position:relative;
  top:1rem;
}

.fab{ font-size: 3rem; 
  position:relative;
  top:1rem; 
}
.fa-github{color:black;}
.fa-linkedin{color:black;}


/* Resposive design-adaptable a dispositivos mobiles */

@media (max-width: 1220px){
  .test{font-size: 2rem;}


  .previewspace{
    display: flex;
    justify-content: center;
     width: 40%;
  }

  .description{
  position:relative;
  left:30rem;
    flex-direction:column;
    display: flex;
    justify-content: center;
    width:35%;
  }
  


  .mano{
    height: 4.5rem;
    width: 4.5rem;
    position:relative;
    left: 15rem;
    bottom:8rem;
    }
  
 .foto{
  width: 20rem;
  position:relative;
 bottom: 8rem;
 left:15rem;
 
     
 }
 
 .hola{
   width: 30rem;
  position: relative;
  left:5rem;
   
 }
 .hello{
  position: relative;
  left:3rem;
 }
 .about{
  
 }
 .contentcont{
  display:flex;
position:relative;
width:50%;


 
 }
 .content{
  /* font-size: .8rem;*/
  position: relative;
  left:35rem;
  width: 100%;
  flex-direction:column;
  display: flex;
  justify-content: center;
  
 }
 .aboutimg{
  position:relative;
  bottom:10rem;
  right: 15rem;
  width: 25rem;
  height: 18rem;
 }

 .App,
 .navbar,
 .header{
  width: 100%;
 }

} 

@media screen and (max-width: 1020px){

  .footer{
    position:relative;
    bottom:1rem;
  }

  
      
      .description{
                position:relative;
                left:10rem;
                bottom:5rem;
                display:flex;
                width: 60%;
      }

      .test{
      font-size: 3rem;}
  .mano{
    height: 4.5rem;
    width: 4.5rem;
    position:relative;
    left: 15rem;
    bottom:8rem;
    }
  
 .foto{
  width: 20rem;
  position:relative;
 bottom: 8rem;
 left:15rem;
 
     
 }
 
 .hola{
   width: 30rem;
  position: relative;
  left:5rem;
   
 }
 .hello{
  position: relative;
  left:3rem;
 }
 .about{
  
 }
 .contentcont{
  display:flex;
position:relative;
width:50%;
 }
 .content{
  /* font-size: .8rem;*/
  position: relative;
  left:30rem;
  width: 100%;
  flex-direction:column;
  display: flex;
  justify-content: center;
 }

 .aboutimg{
  position:relative;
  bottom:10rem;
  right: 15rem;
  width: 25rem;
  height: 18rem;
 }

 .App,
 .navbar,
 .header{
  width: 100%;
 }

} 

@media (max-width: 950px){

  .ptag{
    font-size: 2.5rem;
  }

 
    
   
  .mano{
    height: 4rem;
    width: 4rem;
    position:relative;
    left: 15rem;
    bottom:8rem;
    }

  .foto{
    width: 16rem;
    position:relative;
   bottom: 8rem;
   left:15rem;
   
       
   }
   
   .hola{
     width: 30rem;
    position: relative;
    left:5rem;
     
   }
   .hello{
    position: relative;
    left:3rem;
   }
  .contentcont{
  display:flex;
position:relative;
width:50%;
 }
 .content{
  /* font-size: .8rem;*/
  position: relative;
  left:25rem;
  width: 100%;
  flex-direction:column;
  display: flex;
  justify-content: center;
 }
   .aboutimg{
    position:relative;
    bottom:10rem;
    right: 15rem;
    width: 20rem;
    height: 15rem;
   }
  
   .App,
   .navbar,
   .header,
   .about{
    width: 100%;
   }
 } 

 @media (max-width: 850px){
  .ptag{
    font-size: 2.5rem;
  }
  
 
  .mano{
    height: 4rem;
    width: 4rem;
    position:relative;
    left: 15rem;
    bottom:8rem;
    }

  .foto{
    width: 15rem;
    position:relative;
   bottom: 2rem;
   left:10rem;
   
       
   }
   .stack{
    position: relative; 
    right:10rem;
    bottom:5rem;
    }
   
   .hola{
     width: 30rem;
    position: relative;
    left:5rem;
     
   }
   .hello{
    position: relative;
    left:3rem;
   }
   .contentcont{
    display:flex;
  position:relative;
  width:50%;
   }
   .content{
    /* font-size: .8rem;*/
    position: relative;
    left:20rem;
    width: 100%;
    flex-direction:column;
    display: flex;
    justify-content: center;
   }
   .aboutimg{
    position:relative;
    bottom: 5rem;
    right: 15rem;
    width: 17rem;
    height: 13rem;
   }
  
   .App,
   .navbar,
   .header,
   .about{
    width: 100%;
   }
 
  
 } 


 @media (max-width: 700px){

  .footer{
    position:relative;
    top:10rem;
  }
  .ptag{
    font-size: 2.3rem;
  }
  
  .title{
    width: 30rem;
   position: relative;
   left:4rem;
   top:5rem;
    
  }
  
.fab.fa-github{font-size: 4rem;}
.fab.fa-linkedin{font-size: 4rem;}
  .mano{
    height: 4rem;
    width: 4rem;
    position:relative;
    left: 15rem;
    bottom:8rem;
    }

  .foto{
    width: 15rem;
    position:relative;
   top: 5rem;
   left:1rem;
   
       
   }
   .about{
    position: relative;
    top:10rem;
    height: 50rem;
   }
   .stack{
    position: relative; 
    right:2rem;
    top:9rem;
    }
   
   .hola{
     width: 30rem;
    position: relative;
    left:5rem;
     
   }
   .hello{
    position: relative;
    left:3rem;
   }
   .contentcont{
    display:flex;
  position:relative;
  bottom:0rem;
  width:60%;
   }
   .content{
    /* font-size: .8rem;*/
    position: relative;
    left:10rem;
   
    width: 100%;
    flex-direction:column;
    display: flex;
    justify-content: center;
   }
   .aboutimg{
    position:relative;
    top: 5rem;
    left: 3rem;
    width: 17rem;
    height: 13rem;
   }
  
   .App,
   .navbar,
   .header,
   .about{
    width: 100%;
   }
  } 

  @media (max-width: 550px){
    .footer{
position:relative;
top:5rem;
    }
    .bottomfooter{
      position: relative;
      top:5rem;
    }
   
   
     
   

    .title{
       font-size: 2rem;
      width: 15rem;
     position: relative;
     left:0rem;
     top:8rem;
      
    }
    .hello{
      position:relative;
      right:10rem;
      width:15rem ;
    }
  
    .socialicons{
      position:relative;
      left:8rem;
      top: 2rem;
      width: 15rem;
      font-size: 3rem;
    }
  .fab.fa-github{font-size: 4rem;}
  .fab.fa-linkedin{font-size: 4rem;}
    .mano{
      height: 4rem;
      width: 4rem;
      position:relative;
      left: 1rem;
      bottom:13rem;
      }
  
    .foto{
      width: 18rem;
      position:relative;
     top: 5rem;
     left:1rem;
     
         
     }
     .about{
      position: relative;
      top:10rem;
      height: 70rem;
     }
     .stack{
      position: relative; 
      left:0rem;
      top:9rem;
      }
     
     .hola{
       width: 30rem;
      position: relative;
      left:5rem;
       
     }
     .hello{
      position: relative;
      left:3rem;
     }
     .contentcont{
      display:flex;
    position:relative;
    bottom:0rem;
    width:60%;
     }
     .content{
      /* font-size: .8rem;*/
      position: relative;
      left:8rem;
      width: 100%;
      flex-direction:column;
      display: flex;
      justify-content: center;
     }
     .aboutimg{
      position:relative;
      top: 5rem;
      left: 1rem;
      width: 17rem;
      height: 13rem;
     }
    
     .App,
     .navbar,
     .header,
     .about{
      width: 100%;
     }
       
  
     
    }